.fighter-preview___root {
  display: flex;
  flex-direction: column;
  flex-basis: 250px;
}

.fighter-preview___right {
  align-items: flex-end;
}

.fighter-preview___left {
  align-items: flex-start;
}

.fighter-preview___fighter-name {
  color: black;
  -webkit-text-fill-color: white;
  -webkit-text-stroke-width: 1px;
  font-size: 26px;
  font-family: 'Arial Black';
  font-weight: 700;
}

.fighter-preview___fighter-description {
  color: black;
  -webkit-text-fill-color: #ebd759;
  -webkit-text-stroke-width: 1px;
  font-size: 20px;
  font-family: 'Arial Black';
  font-weight: 500;
}
